<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark static-top" style="background-color: #619668;">
  <div class="container">
    <a class="navbar-brand" href="https://www.alanmartyn.com">Alan Martyn</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        
        <li class="nav-item">
          <a class="nav-link" href="https://www.notion.so/Alan-Ma-ae01562225eb48d098b52ab12e724112">CV</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>