<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Alan Martyn</title>
  
  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/markdown.css" rel="stylesheet">

</head>
<body>
  {{ html.navbar }}

  <div class="content">
  {{ html.markdown }}
  </div>

  <div class="content">
  {{ html.comments }}
  </div>
</body>

</html>